/* * {
    border: 1px dashed red;
    min-height: 10px;

} */


h1{
    text-align: center;
}



.btn{
    background-color: #D9D9D9;
    width: 200px;
}

.btn-editar{
    background-color: #D1FFF4;
}

#container-main{
    background-color: #ffffff;
}

#container-main-2{
    background-color: #ffffff;
}
#container-main-3{
    background-color: #ffffff;
}
#container-main-4{
    background-color: #ffffff;
}
#container-main-5{
    background-color: #ffffff;
}
#container-main-6{
    background-color: #ffffff;
}
#container-main-7{
    background-color: #ffffff;
}
#container-main-8{
    background-color: #ffffff;
}


label{
    border-radius: 5%;
    border-color: #D9D9D9;
    border-width: 5%;
    
}


  