/* * {
    border: 1px dashed red;
    min-height: 10px;

} */


h1{
    text-align: center;
}



.btn{
    background-color: #D9D9D9;
    width: 200px;
}

.btn-editar{
    background-color: #D1FFF4;
}



label{
    border-radius: 5%;
    border-color: #D9D9D9;
    border-width: 5%;
    
}


  