#bg-navbar-1 {
background-color: #D1FFF4;
}
#bg-navbar-2 {
    background-color: #0076B8;
}

#container-buttons {
    width: 80%;
    margin: auto;
}

#container-footer {
    background-color: #0076B8;
} 

#container-footer-2 {
    background-color: #0076B8;
} 
