  
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
    border-color:  #0076B8;
  }
  
  .Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    background-color: white;
    border-color: #0076B8;
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  label {
    font-size: 20px;
    font-weight: 800;
    color: rgb(34, 34, 34);
  }
  .btn {
    background-color: #797979;
    font-size: 20px;
  }

.container-profile {
  margin: auto;
  padding: auto;
}

.button-edit {
  margin-top: 80%;
  background-color: #D1FFF4 ;
  color: black;
  border-radius: 5px;
  border: #797979;
  height: 50px;
  width: 80px;
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
  cursor: pointer;
}
.button-edit:hover {
  background: cyan;
}

.button-details {
  margin-top: 60%;
  background-color: #D1FFF4 ;
  color: black;
  border-radius: 5px;
  border: #797979;
  height: 50px;
  width: 80px;
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
  cursor: pointer;
}
.button-details:hover {
  background: cyan;
}
.button-history {
  margin-left: 40%;
  background-color: #D1FFF4 ;
  color: black;
  border-radius: 5px;
  border: #797979;
  height: 50px;
  width: 200px;
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
  cursor: pointer;
}
.button-history:hover {
  background: cyan;
}