.button-history {
   margin: auto;
    background-color: #D1FFF4 ;
    color: black;
    border-radius: 5px;
    border: #797979;
    height: 50px;
    width: 400px;
    box-shadow: 1px 1px 1px rgb(0, 0, 0);
    cursor: pointer;
  }
  .button-history:hover {
    background: cyan;
  }